.container {
  margin-top: 60px;
}

.row {
  margin: 0;
}

.main-page__header {
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.main-page__title {
  color: #fff;
  font-weight: 400;
}
