a {
  text-decoration: none;
}

.browse-movie__link {
  display: inline-block;
  font-size: 24px;
  border: 5px solid #fff;
  position: relative;
}

.browse-movie__link:hover {
  border: 5px solid #6ac045;
  transition: border 1s ease;
  background-color: #000;
}

.browse-movie__link:hover img {
  opacity: 0.3;
  transition: opacity 1s ease;
}

.browse-movie__link:hover figcaption {
  opacity: 1;
  text-align: center;
}

.movie-wrapper__container--item {
  margin-bottom: 20px;
}

figure {
  margin: 0;
}

figcaption {
  color: #fff;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding-top: 40px;
}

figcaption span.icon-star {
  color: #6ac045;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

h4.rating {
  margin-top: 0.5rem;
}

.browse-movie__title {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 700;
}

.browse-movie__year {
  font-size: 0.85em;
  color: #919191;
}

.btn {
  margin: 5rem 0 0 0;
  padding: 5px;
  text-transform: capitalize;
}

.btn-success {
  background-color: #6ac045 !important;
}

@media (max-width: 575px) {
  .col-sm-4 {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .movie-wrapper__container--item {
    height: 340px;
  }
}

@media (max-width: 431px) {
  .btn {
    display: none;
  }
}

@media (min-width: 575px) and (max-width: 992px) {
  .btn {
    display: none;
  }
}
